[id^=mod-observation-],
[id^=page-mod-observation-] {
  padding-bottom: 2em;
}
[id^=mod-observation-] .config-mod-observation-topic-item,
[id^=page-mod-observation-] .config-mod-observation-topic-item,
[id^=mod-observation-] .mod-observation-topic-item,
[id^=page-mod-observation-] .mod-observation-topic-item {
  padding: 0.3em;
}
[id^=mod-observation-] .mod-observation-topic-items,
[id^=page-mod-observation-] .mod-observation-topic-items {
  font-size: 1.2em;
  display: table;
}
[id^=mod-observation-] .observation-eval-actions,
[id^=page-mod-observation-] .observation-eval-actions {
  margin-top: 2em;
}
[id^=mod-observation-] .mod-observation-modifiedstr,
[id^=page-mod-observation-] .mod-observation-modifiedstr,
[id^=mod-observation-] .mod-observation-witnessedstr,
[id^=page-mod-observation-] .mod-observation-witnessedstr,
[id^=mod-observation-] .mod-observation-topic-modifiedstr,
[id^=page-mod-observation-] .mod-observation-topic-modifiedstr {
  font-size: 0.8em;
  font-style: italic;
  color: grey;
}
[id^=mod-observation-] .mod-observation-topic-signoff,
[id^=page-mod-observation-] .mod-observation-topic-signoff {
  font-size: 1.2em;
  padding-right: 1em;
  text-align: right;
}
[id^=mod-observation-] .mod-observation-topic-signoff img,
[id^=page-mod-observation-] .mod-observation-topic-signoff img {
  padding-left: 0.4em;
}
[id^=mod-observation-] textarea.observation-completion-comment,
[id^=page-mod-observation-] textarea.observation-completion-comment,
[id^=mod-observation-] textarea.observation-completion-submission,
[id^=page-mod-observation-] textarea.observation-completion-submission {
  margin-left: 0.4em;
  width: 90%;
}
[id^=mod-observation-] .mod-observation-topic table td.c0,
[id^=page-mod-observation-] .mod-observation-topic table td.c0 {
  width: 40%;
}
[id^=mod-observation-] .mod-observation-topic table td.c1,
[id^=page-mod-observation-] .mod-observation-topic table td.c1 {
  width: 60%;
}
[id^=mod-observation-] .observation-submit,
[id^=page-mod-observation-] .observation-submit {
  text-align: center;
}
[id^=mod-observation-] .evalprint,
[id^=page-mod-observation-] .evalprint,
[id^=mod-observation-] .observation-save,
[id^=page-mod-observation-] .observation-save {
  float: right;
}
#page-mod-observation-evaluate .mod-observation-topic-signoff .flex-icon,
#page-mod-observation-observe .mod-observation-topic-signoff .flex-icon,
#page-mod-observation-evaluate .observation-item-witness .flex-icon,
#page-mod-observation-observe .observation-item-witness .flex-icon {
  cursor: pointer;
}
.config-mod-observation-topic-heading,
.mod-observation-topic-heading {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}
.mod-observation-topic-heading {
  padding-left: 0.8em;
}
.mod-observation-topic-addbtn {
  float: right;
}
#config-mod-observation-topics {
  padding-bottom: 2em;
}
.config-mod-observation-topic-items {
  margin-left: 1em;
  font-size: 1.2em;
}
img.observation-topic-completion-status {
  vertical-align: baseline;
}
#observation-eval-icon-templates,
.user-observation-comments-warning,
.observation-completion-comment-print,
.observation-completion-submission-print {
  display: none;
}
.mod-observation-evalstudents-btn,
.mod-observation-evalself-btn,
.mod-observation-manage-btn {
  float: right;
}
.mod-observation-topicitem-files {
  font-size: 0.8em;
}
/**
 * printing styles
 */
@media print {
  @page {
    margin: 25mm !important;
  }
  #block-region-side-pre,
  #block-region-side-post,
  #page-header,
  #page-footer,
  .evalprint,
  .logininfo,
  .navbar,
  textarea.observation-completion-comment,
  textarea.observation-completion-submission,
  .user-observation-comments-warning,
  #totaramenu {
    display: none !important;
  }
  #region-main {
    width: 100% !important;
    padding: 0;
  }
  #mod-observation-user-observation .observation-completion-comment-print,
  #mod-observation-user-observation .observation-completion-submission-print {
    display: block;
  }
  #mod-observation-user-observation .mod-observation-topic-heading {
    padding-left: 0;
  }
  #mod-observation-user-observation .mod-observation-topic-items {
    display: table;
  }
  #mod-observation-user-observation .mod-observation-topic {
    page-break-inside: avoid;
  }
}
