[id^=mod-ojt-],
[id^=page-mod-ojt-] {
  padding-bottom: 2em;
}
[id^=mod-ojt-] .config-mod-ojt-topic-item,
[id^=page-mod-ojt-] .config-mod-ojt-topic-item,
[id^=mod-ojt-] .mod-ojt-topic-item,
[id^=page-mod-ojt-] .mod-ojt-topic-item {
  padding: 0.3em;
}
[id^=mod-ojt-] .mod-ojt-topic-items,
[id^=page-mod-ojt-] .mod-ojt-topic-items {
  font-size: 1.2em;
  display: table;
}
[id^=mod-ojt-] .ojt-eval-actions,
[id^=page-mod-ojt-] .ojt-eval-actions {
  margin-top: 2em;
}
[id^=mod-ojt-] .mod-ojt-modifiedstr,
[id^=page-mod-ojt-] .mod-ojt-modifiedstr,
[id^=mod-ojt-] .mod-ojt-witnessedstr,
[id^=page-mod-ojt-] .mod-ojt-witnessedstr,
[id^=mod-ojt-] .mod-ojt-topic-modifiedstr,
[id^=page-mod-ojt-] .mod-ojt-topic-modifiedstr {
  font-size: 0.8em;
  font-style: italic;
  color: grey;
}
[id^=mod-ojt-] .mod-ojt-topic-signoff,
[id^=page-mod-ojt-] .mod-ojt-topic-signoff {
  font-size: 1.2em;
  padding-right: 1em;
  text-align: right;
}
[id^=mod-ojt-] .mod-ojt-topic-signoff img,
[id^=page-mod-ojt-] .mod-ojt-topic-signoff img {
  padding-left: 0.4em;
}
[id^=mod-ojt-] textarea.ojt-completion-comment,
[id^=page-mod-ojt-] textarea.ojt-completion-comment,
[id^=mod-ojt-] textarea.ojt-completion-submission,
[id^=page-mod-ojt-] textarea.ojt-completion-submission {
  margin-left: 0.4em;
  width: 90%;
}
[id^=mod-ojt-] .mod-ojt-topic table td.c0,
[id^=page-mod-ojt-] .mod-ojt-topic table td.c0 {
  width: 40%;
}
[id^=mod-ojt-] .mod-ojt-topic table td.c1,
[id^=page-mod-ojt-] .mod-ojt-topic table td.c1 {
  width: 60%;
}
[id^=mod-ojt-] .ojt-submit,
[id^=page-mod-ojt-] .ojt-submit {
  text-align: center;
}
[id^=mod-ojt-] .evalprint,
[id^=page-mod-ojt-] .evalprint,
[id^=mod-ojt-] .ojt-save,
[id^=page-mod-ojt-] .ojt-save {
  float: right;
}
#page-mod-ojt-evaluate .mod-ojt-topic-signoff .flex-icon,
#page-mod-ojt-observe .mod-ojt-topic-signoff .flex-icon,
#page-mod-ojt-evaluate .ojt-item-witness .flex-icon,
#page-mod-ojt-observe .ojt-item-witness .flex-icon {
  cursor: pointer;
}
.config-mod-ojt-topic-heading,
.mod-ojt-topic-heading {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}
.mod-ojt-topic-heading {
  padding-left: 0.8em;
}
.mod-ojt-topic-addbtn {
  float: right;
}
#config-mod-ojt-topics {
  padding-bottom: 2em;
}
.config-mod-ojt-topic-items {
  margin-left: 1em;
  font-size: 1.2em;
}
img.ojt-topic-completion-status {
  vertical-align: baseline;
}
#ojt-eval-icon-templates,
.user-ojt-comments-warning,
.ojt-completion-comment-print,
.ojt-completion-submission-print {
  display: none;
}
.mod-ojt-evalstudents-btn,
.mod-ojt-evalself-btn,
.mod-ojt-manage-btn {
  float: right;
}
.mod-ojt-topicitem-files {
  font-size: 0.8em;
}
/**
 * printing styles
 */
@media print {
  @page {
    margin: 25mm !important;
  }
  #block-region-side-pre,
  #block-region-side-post,
  #page-header,
  #page-footer,
  .evalprint,
  .logininfo,
  .navbar,
  textarea.ojt-completion-comment,
  textarea.ojt-completion-submission,
  .user-ojt-comments-warning,
  #totaramenu {
    display: none !important;
  }
  #region-main {
    width: 100% !important;
    padding: 0;
  }
  #mod-ojt-user-ojt .ojt-completion-comment-print,
  #mod-ojt-user-ojt .ojt-completion-submission-print {
    display: block;
  }
  #mod-ojt-user-ojt .mod-ojt-topic-heading {
    padding-left: 0;
  }
  #mod-ojt-user-ojt .mod-ojt-topic-items {
    display: table;
  }
  #mod-ojt-user-ojt .mod-ojt-topic {
    page-break-inside: avoid;
  }
}
