<style type="text/css">
.wrapper-obs-activity
{
    width: 70%;
    border: 2px solid #d3d3d3;
    margin-bottom: 40px;
}
.wrapper
{
    width: 70%;
    border: 2px solid #d3d3d3;
    margin-bottom: 10px;  
}
.title-main 
{
    padding-left: 10px;
}
.flex-title 
{
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding-bottom: 10px;
}
.flex-title > span 
{
    white-space: nowrap;
}
.title-desc
{
    flex-grow: 1;
    font-size: 80%;
    padding-left: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.title-note 
{
  font-size: 80%;
  padding-right: 25px;
}
</style>

<div class="wrapper-obs-activity">
  <h3 class="title-main">Observation activity type</h3>
  <p class="title-desc">
    Can have description showing on the outside like standard activities.
  </p>
</div>

{{> mod_observation/comp_task_title}}
{{> mod_observation/comp_task_title}}
{{> mod_observation/comp_task_title}}
{{> mod_observation/comp_task_title}}
