<div class="wrapper-obs-activity">
    <h3 class="title-main">{{{name}}}</h3>
    <div class="title-desc">{{{intro}}}</div>
</div>

{{#tasks}}
    {{> mod_observation/comp_task_title}}
{{/tasks}}
{{^tasks}}
{{! apropriate messsage based on role}}
    <p>
        {{#capabilities.can_manage}}
            {{#str}}manage:no_tasks, observation{{/str}}
        {{/capabilities.can_manage}}
        {{^capabilities.can_manage}}
            {{#str}}no_tasks, observation{{/str}}
        {{/capabilities.can_manage}}
    </p>
{{/tasks}}

{{#capabilities.can_manage}}
{{! edit topics button }}
    <div class="align-center">
        <a href="{{{module_root}}}/manage.php?id={{cmid}}" class="btn btn-secondary">
        {{#str}}manage:edit_tasks, observation{{/str}}
        </a>
    </div>
{{/capabilities.can_manage}}

