<div class="wrapper-obs-activity">
  <h3 class="title-main">Observation activity type</h3>
  <p class="title-desc">
    Can have description showing on the outside like standard activities.
  </p>
</div>

{{> mod_observation/comp_task_title}}
{{> mod_observation/comp_task_title}}
{{> mod_observation/comp_task_title}}
{{> mod_observation/comp_task_title}}
