<div class="confirm-change-wrapper">
  <h4>Confirm observer change</h4>
  <p class="flex">    
    <p>Current observer for this task is &nbsp;<b><i>joe@bloggs.com</i></b></p>    
    <p>Are you sure you want to assign <b>anny@smith.com &nbsp;</b> as the observer for Task Three?</p>    
  </p>
  <h5>Briefly explain this change</h5>
  <div class="msg">
    <p>Joe Bloggs is sick this week, Anny can observe instead. Joe Bloggs is sick this week, Anny can observe instead. Joe Bloggs is sick this week, Anny can observe instead. Joe Bloggs is sick this week, Anny can observe instead.</p>
  </div>
  <div class="button-wrapper">
    <button class="btn btn-secondary">Cancel</button>
    <button class="btn btn-primary">Confirm</button>
 </div>
</div>