<li class="list-group-item">
    <div class="page-container">
        <span class="glyphicon glyphicon-move my-handle" aria-hidden="true"></span>
        <div class="obs-subtask-list">
            <div>{{{name}}}</div>
            <div class="actions sub-list-actions">
                <span class="edit">Edit</span>
                <span>Delete</span>
            </div>
        </div>
    </div>
</li>