<ol id="nestedSortables">
    <li class="list-group-item">
        <div class="page-container">   
            <span class="glyphicon glyphicon-move my-handle" aria-hidden="true"></span>
            <div class="obs-subtask-list">
                <div>The trainee used a thing and then did a thing with that thing</div>
                <div class="actions sub-list-actions">
                    <span class="edit">Edit</span>
                    <span>Delete</span>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item"> 
        <div class="page-container">     
            <span class="glyphicon glyphicon-move my-handle" aria-hidden="true"></span>
            <div class="obs-subtask-list">
                <div>The trainee made the observer a great tuna sandwich</div>
                <div class="actions sub-list-actions">
                    <span class="edit">Edit</span>
                    <span>Delete</span>            
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item"> 
        <div class="page-container">     
            <span class="glyphicon glyphicon-move my-handle" aria-hidden="true"></span>
            <div class="obs-subtask-list">
                <div>The trainee has demonstrated the ability</div>
                <div class="actions sub-list-actions">
                    <span class="edit">Edit</span>
                    <span>Delete</span>            
                </div>
            </div>
        </div>
    </li>    
</ol>  