<h5 class="feedback-attempt-heading">Feedback for Attempt #1</h5>
<div class="wrapper-feedback">
  <p class="flex-feedback">
    <span class="feedback-desc">Trainee made a whitebait sandwich. I hate whitebait. Trainee made a whitebait sandwich. I hate whitebait.</span>
    <span class="feedback-email">JoeJoeJoeJoeJoeJoe@blogs.com</span>
    <span class="timestamp">Timestamp</span>
  </p>
</div>
{{> mod_observation/comp-mark_criteria}}
