<div class="feedback feedback-outcome-{{outcome}}">
    <h5 class="feedback-attempt-heading">
        Feedback for Attempt {{attempt_number}}
    </h5>
    <div class="wrapper-feedback">
        <div class="flex-feedback">
            <div class="feedback-desc">
                {{{text}}}
            </div>
            <span class="feedback-email">
                {{!todo: feedback from}}
                todo:feedback from
            </span>
            <span class="timestamp">
                {{!todo: timestamp}}
                todo:timestamp
            </span>
        </div>
    </div>
</div>
