<div class="feedback {{feedback_type}} no-text {{outcome}}">
    {{#str}} feedback_for_no_text, observation, { "fullname": "{{fullname}}", "attempt_number": "{{attempt_number}}", "outcome": "{{outcome_lang}}", "timesubmitted": "{{timesubmitted}}" } {{/str}}
</div>
