<div class="feedback {{feedback_type}} with-text {{outcome}}">
    <div class="heading">
        <h5 class="title-secondary">
            {{#str}}feedback_for, observation, {{attempt_number}}{{/str}}
        </h5>
        <div class="attributes">
            <span class="name">{{fullname}}</span> / <span class="timestamp">{{timesubmitted}}</span>
        </div>
    </div>

    <div class="entry wrapper">
        <div class="text">
            {{{text}}}
        </div>
        <ul class="attachments ft"> {{! "ft" class enables font-awesome }}
            {{#files}}
                <li>
                    <a href="{{{url}}}">{{filename}}</a>
                </li>
            {{/files}}
        </ul>
    </div>
</div>
