<div class="wrapper">
    <div class="flex-title">

        <div class="obs-main-title">
            <h3>{{name}}</h3>
        </div>

        <div class="title-note">
            <a href="{{{module_root}}}/task.php?id={{cmid}}&taskid={{id}}">
            {{! set correct text for btn}}

            {{^has_submission}}
            {{! check if submission or preview}}
                {{#capabilities.can_submit}}
                    {{#str}}start, observation{{/str}}
                {{/capabilities.can_submit}}

                {{^capabilities.can_submit}}
                {{! can't submit, check if can preview }}

                    {{#capabilities.can_view}}
                        {{#str}}preview, observation{{/str}}
                    {{/capabilities.can_view}}

                {{/capabilities.can_submit}}
            {{/has_submission}}

            {{#has_submission}}
                {{#str}}review, observation{{/str}}
            {{/has_submission}}

            </a>
        </div>

    </div>

    <div class="title-desc">
        <p>{{{intro_learner}}}</p>
    </div>

</div>