<select name="observation-outcome" id="observation-outcome" required>
    <option>
        {{#str}}outcome:choose, observation{{/str}}
    </option>
    <option value="complete">
        {{#str}}outcome:complete, observation{{/str}}
    </option>
    <option value="not_complete">
        {{#str}}outcome:not_complete, observation{{/str}}
    </option>
</select>