<div class="evidence wrapper-feedback">
  <p class="flex-feedback">
    <span class="task-evidence">Here's some evidence of task.</span>
    <span class="learner-email">Learner McLearnface</span>
    <span class="attached-evidence">Attached File</span>
    <span class="observer-timestamp">Timestamp</span>
  </p>
</div>