<div class="wrapper">

  <h3 class="title-main">{{name}}</h3>

    <p class="flex-title">
    <div class="title-desc">{{{intro_learner}}}</div>
    <a href="#"><span class="title-note">Review</span></a>
    <a href="task_view"><span class="title-note">Start</span></a>
  </p>

</div>