<li>

    <div class="criteria-header">
        <h5>{{name}}</h5>
        {{#extra.is_observation}}
            {{> mod_observation/comp-observation_outcome_dropdown}}
        {{/extra.is_observation}}
    </div>

    <div class="flex-title-task">
        <div class="criteria-desc">
            {{{description}}}
        </div>
        {{#extra.is_observation}}
            {{#extra.editor_html}}
                <div class="editor-container">
                    <h5>
                        Observation for Attempt #{{extra.attempt_number}}
                    </h5>
                    {{{extra.editor_html}}}
                </div>
            {{/extra.editor_html}}
        {{/extra.is_observation}}
    </div>

    {{#extra.is_observation}}
        <input type="hidden" name="criteria[{{id}}][feedback_id]" value="{{extra.feedback_id}}">
    {{/extra.is_observation}}

</li>
