<h4>Editing observation: Observation activity type</h4>
<div class="list-wrapper">
  <div id="taskList">
    <ol id="mainTaskList">
        <li class="list-group-item">
          <div class="page-container">   
            <span class="glyphicon glyphicon-move my-handle" aria-hidden="true"></span>
            <div class="obs-task-list">
              <div>Task One</div>
              <div class="actions">
                <span class="plus">+</span>
                <span class="edit">Edit</span>
                <span>Delete</span>
              </div>
            </div>
            <div id="subTaskList">
              {{> mod_observation/comp_observation_activity_subtask_list}}
            </div>
          </div>
        </li>
        <li class="list-group-item"> 
          <div class="page-container">     
            <span class="glyphicon glyphicon-move my-handle" aria-hidden="true"></span>
            <div class="obs-task-list">
              <div>Task Two</div>
              <div class="actions">
                <span class="plus">+</span>
                <span class="edit">Edit</span>
                <span>Delete</span>            
              </div>
              </div>          
            <div id="subTaskList">
            {{> mod_observation/comp_observation_activity_subtask_list}}
              {{! <ol id="nestedSortables">
                <li class="list-group-item">
                    <div class="page-container">   
                        <span class="glyphicon glyphicon-move my-handle" aria-hidden="true"></span>
                        <div class="obs-subtask-list">
                            <div>The trainee used a thing</div>
                            <div class="actions sub-list-actions">
                                <span class="edit">Edit</span>
                                <span>Delete</span>
                            </div>
                        </div>
                    </div>
                </li>
              </ol> 
              </li>}}
            </div>
          </div>
        </li>     
    </ol>  
  </div>
  <div class="btn-wrapper">
    <button class="btn btn-primary" id="addButton">Add Task</button>
    <button class="btn btn-secondary">Back to activity</button>
  </div>
</div>
