{{! TODO: Make table repsonsive}}

<table class="observer-details">
    <thead>
    <tr>
        <th>{{#str}}fullname, observation{{/str}}</th>
        <th>{{#str}}phone, observation{{/str}}</th>
        <th>{{#str}}email, observation{{/str}}</th>
        <th>{{#str}}position_title, observation{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    <tr id="details-values" data-observerid="{{id}}">
        <td id="fullname">{{fullname}}</td>
        <td id="phone">{{phone}}</td>
        <td id="email">{{email}}</td>
        <td id="position_title">{{position_title}}</td>
    </tr>
    </tbody>
</table>