<li class="list-group-item" criteriaid={{id}}>

    <div class="page-container">

        <span class="glyphicon glyphicon-move my-handle" aria-hidden="true"></span>
        <div class="obs-subtask-list">

            <span class="title">{{{name}}}</span>

            {{#feedback_required}}
                <span class="glyphicon glyphicon-paperclip"
                      title="{{#str}}feedback_required, observation{{/str}}"></span>
            {{/feedback_required}}

            <div class="actions sub-list-actions">

                <a href="{{{module_root}}}/manage_criteria.php?id={{cmid}}&taskid={{taskid}}&criteriaid={{id}}"
                class="edit">
                <span class="glyphicon glyphicon-pencil"
                      title="{{#str}}edit_criteria, observation{{/str}}"></span>
                </a>

                <a href="{{{module_root}}}/manage_criteria.php?id={{cmid}}&taskid={{taskid}}&criteriaid={{id}}
                &delete=1">
                <span class="glyphicon glyphicon-trash"
                      title="{{#str}}delete_criteria, observation{{/str}}"></span>
                </a>

            </div>

        </div>

    </div>

</li>