<div class="wrapper">
  <h3 class="title-main">Title topic 1</h3>
  <p class="flex-title">
    <span class="title-desc">Task instructions for observer, trainee, accessor</span>
    <a href="#"><span class="title-note">Review</span></a>
    <a href="task_view"><span class="title-note">Start</span></a>
  </p>
</div>