<div class="observer-details-wrapper">
    <div class="header">
        <h5>{{#str}}assign_observer:assigned_observer, observation{{/str}}</h5>
        {{#extra.is_learner}}
            {{#extra.change_observer_url}}
                (
                <a id="change-observer" href="{{{extra.change_observer_url}}}">
                    {{#str}}assign_observer:change_observer, observation{{/str}}
                </a>
                )
            {{/extra.change_observer_url}}
        {{/extra.is_learner}}
        {{#extra.is_assessor}}
            (
            <span id="last-assigned">
                {{#str}}assess:last_assigned, observation{{/str}}
            </span>
            )
        {{/extra.is_assessor}}
    </div>
    {{! print the actual table with observer details }}
    {{> mod_observation/comp-observer_details_table}}
    {{! extra stuff for assessors }}
    {{#extra.is_assessor}}
        {{#extra.is_assessing}}
            <div class="meets-criteria-wrapper">
                <label title="If an observer does not meet criteria, mark this submission as Not Complete and provide an explanation in feedback"
                       for="meets-criteria">
                    {{#str}}assess:observer_meets_criteria, observation{{/str}}
                </label>
                <input name="meets-criteria"
                       id="meets-criteria"
                       type="checkbox"
                    {{#extra.existing_feedback.is_complete}}
                    {{! based on earlier feedback, this checkbox was ticked }}
                       checked
                    {{/extra.existing_feedback.is_complete}}
                >
            </div>
        {{/extra.is_assessing}}
    {{/extra.is_assessor}}
</div>
