<div id="observer-details">
    <div class="header">
        <h5>{{#str}}assign_observer:assigned_observer, observation{{/str}}</h5>
        <span id="change-observer">{{#str}}assign_observer:change_observer, observation{{/str}}</span>
    </div>

    <table>
        <thead>
        <tr>
            <th>{{#str}}fullname, observation{{/str}}</th>
            <th>{{#str}}phone, observation{{/str}}</th>
            <th>{{#str}}email, observation{{/str}}</th>
            <th>{{#str}}position_title, observation{{/str}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{fullname}}</td>
            <td>{{phone}}</td>
            <td>{{email}}</td>
            <td>{{position_title}}</td>
        </tr>
        </tbody>
    </table>
</div>
