<div>
    {{#extra.group_selector_html}}
        <div class="group-container" style="float: right; margin: 1em;">
            {{{extra.group_selector_html}}}
        </div>
    {{/extra.group_selector_html}}
    <h4>Learner submissions</h4>
    <table class="submissions-summary">
        <thead class="submisisons-header">
        <tr>
            <th colspan="1"></th>
            <th colspan="2" class="attempts-group">Attempts</th>
            <th colspan="4"></th>
        </tr>
        <tr>
            <th>
                {{#str}}assess_table:learner, observation{{/str}}
            </th>
            <th class="attempts-group">
                {{#str}}assess_table:observations, observation{{/str}}
            </th>
            <th class="attempts-group">
                {{#str}}assess_table:assessments, observation{{/str}}
            </th>
            <th>
                {{#str}}assess_table:tasks_observed , observation{{/str}}
            </th>
            <th>
                {{#str}}assess_table:status, observation{{/str}}
            </th>
            <th>
                {{#str}}assess_table:complete, observation{{/str}}
            </th>
            <th>
                {{#str}}assess_table:actions, observation{{/str}}
            </th>
        </tr>
        </thead>
        <tbody>
        {{#extra.submission_summary_data}}
            <tr class="submissions-row">
                <td class="name">
                    <a href="{{{learner_profile_url}}}">
                        {{learner}}
                    </a>
                </td>
                <td class="attempts-group observation">
                    {{! has attempts }}
                    {{#has_attempts_summary}}
                        <div class="hover-hint obs-tooltip">
                            {{#flex_icon}} question-circle, assess:has_attempts_alt, observation{{/flex_icon}}
                            <div class="content-top">
                                <ul>
                                    {{#attempts_observation_summary}}
                                        <li>{{task}}: {{attempts}}</li>
                                    {{/attempts_observation_summary}}
                                </ul>
                                <i></i> {{! tooltip arrow }}
                            </div>
                        </div>
                    {{/has_attempts_summary}}
                    {{! no observation attempts }}
                    {{^has_attempts_summary}}
                        -
                    {{/has_attempts_summary}}
                </td>
                <td class="attempts-group assessment">
                    {{attempt_number_assessment}}
                </td>
                <td class="observed">
                    {{observed_count_formatted}}
                </td>
                <td class="submission-status">
                    {{submission_status}}
                </td>
                <td class="completion">
                    {{#is_complete}}
                        {{#flex_icon}}
                            check-circle-o, assess:activity_complete, observation, complete
                        {{/flex_icon}}
                    {{/is_complete}}
                    {{^is_complete}}
                        {{#flex_icon}}
                            times-circle-o, assess:activity_not_complete, observation, not-complete
                        {{/flex_icon}}
                    {{/is_complete}}
                </td>  
                <td class="actions">
                    <a href="{{{module_root}}}/activity_assess.php?id={{cmid}}&learnerid={{userid}}">
                    {{#flex_icon}}edit, assess:assess_task, observation{{/flex_icon}}
                    </a>

                    {{! todo: next task will be to make this button visible only for site admins.
                    check out export_capabilities() in mod\observation\classes\observation_base.php and add is_siteadmin
                    to the existing array, use is_siteadmin() to determine if a user is admin or not. Search the template
                    directory for "capabilities." to see examples. }}
                    <a href="{{{module_root}}}/app_manager.php?id={{cmid}}&learnerid={{userid}}">
                    {{#flex_icon}}delete, assess:delete, observation{{/flex_icon}}
                    </a>
                </td>
            </tr>
        {{/extra.submission_summary_data}}
        {{^extra.submission_summary_data}}
            <tr>
                <td>No submissions yet</td>
            </tr>
        {{/extra.submission_summary_data}}
        </tbody>
    </table>
</div>