<div class="wrapper-border">
    <h3 class="title-main">{{name}}</h3>
    <div class="title-desc">
        {{! intro depends on context and is set in render.php }}
        {{{intro}}}
    </div>
</div>