<h5>Completion observations</h5>

<div class="wrapper-task">
    <h3 class="title-main-task">{{name}}</h3>
    {{!<p class="flex-title-task">}}
    <div class="title-desc-task">
        {{{intro_learner}}}
    </div>
    {{!</p>}}
</div>

<div class="wrapper-task">
    <ol>
        {{#criteria}}
            {{> mod_observation/comp_completion_criteria}}
            <p class="flex-criteria">
                <span class="criteria-note">{{!> mod_observation/comp_mark_criteria}}</span>
            </p>
        {{/criteria}}
    </ol>
</div>

{{#extra.is_submission}}
    <form action="submit.php" id="attempt-form" method="post" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
{{/extra.is_submission}}

    <h5>Information and evidence from the trainee</h5>
    <div class="wrapper-task">
        <h5 class="attempt">Attempt #1</h5>
        {{> mod_observation/comp_show_evidence}}
        <h5 class="attempt">Attempt #2</h5>

        {{#extra.is_submission}}
            <div class="editor">
                {{{extra.editor_html}}}
                {{{extra.filemanager_html}}}
            </div>
        {{/extra.is_submission}}

    </div>
{{#extra.is_submission}}

        <input type="hidden" name="cmid" value={{extra.cmid}}>
        <input type="hidden" name="learner_submission_id" value={{extra.learner_submission_id}}>
        <input type="hidden" name="attempt_id" value={{extra.attempt_id}}>

        <div class="request-button-wrapper">
            <button type="submit" class="btn btn-primary">
                {{#str}}request_observation, observation{{/str}}
            </button>
        </div>
    
    </form>
{{/extra.is_submission}}

