<div class="wrapper-title">
  <h3 class="title-main-task">Assign an observer for "Task Three"</h3>
  <p class="flex-title-task">
    <span class="title-desc-task">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </span>
  </p>
</div>
<h5>Assign from history</h5>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Observed topics</th>
        <th></th>
    </tr>
    <tr>     
        <td>bruce@wayne.com</td>
        <td>1</td>
        <td><a href="#">Assign</td>
    </tr>
</table>
<h5>New observer</h5>
<div class="wrapper">
  <form class="myForm">
        <div class="obs-contact">
            <label for="name">Full name</label>
            <input type="text" id="name" placeholder="Joe">
        </div>
        <div class="obs-contact">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" placeholder="123456789">
        </div>
        <div class="obs-contact">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="joe@blogs.com">
        </div>
        <div class="obs-contact">
            <label for="position">Position title</label>
            <input type="text" id="position" placeholder="Supervisor">
        </div>
    </form>
</div>
