<div class="wrapper-task">
  <h3 class="title-main-task">Task Three</h3>
  <p class="flex-title-task">
    <span class="title-desc-task">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </span>
  </p>
</div>

<h5>Completion observations</h5>
<div class="wrapper-task">
  <ol>
    {{> mod_observation/comp_completion_criteria}}
    {{> mod_observation/comp_mark_criteria}}
    {{> mod_observation/comp_completion_criteria}}
    {{> mod_observation/comp_feedback_attempt}}
    {{> mod_observation/comp_completion_criteria}} 
     {{> mod_observation/comp_feedback_attempt}} 
  </ol>
</div>

<h5>Information and evidence from the trainee</h5>
<div class="wrapper-task">
  <p class="flex-criteria">
    <span class="observer-note">Observer assigned - joe@blogs.com</span>
  </p>
  <h5 class="attempt">Attempt #1</h5>
  {{> mod_observation/comp_show_evidence}}
  <h5 class="attempt">Attempt #2</h5>
  <div class="editor">editor goes here</div>
</div>
<div class="request-button-wrapper">
  <button class="btn btn-primary">Request observation</button>
</div>