<div class="wrapper-task">
  <h3 class="title-main-task">Task Three</h3>
  <p class="flex-title-task">
    <span class="title-desc-task">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </span>
  </p>
</div>

<h5>Completion criteria</h5>
<div class="wrapper-task">
  <ol>
    {{> mod_observation/comp_completion_criteria}}
    {{> mod_observation/comp_completion_criteria}}
    {{> mod_observation/comp_completion_criteria}}  
  </ol>
</div>

<h5>Attempts</h5>
<div class="wrapper-task">
  <h5 class="attempt">Attempt #1</h5>
  <div class="editor">editor goes here</div>
</div>
<div class="button-wrapper">
  <button class="button">Request observation</button>
</div>