{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<style type="text/css">
    table tbody .c0 {
        width: 70%;
    }
</style>

<div id="mod-ojt-user-ojt-topics">
    {{#has_topics}}
        <table class="mod-ojt-topic-items generaltable">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Submitted</th>
                <th></th>
                <th>Meets Standard</th>
            </tr>
            </thead>
            <tbody>
            {{#topics}}
                <tr>
                    <td class="c0">
                        <h4>{{title}}</h4>
                    </td>
                    <td class="c1">
                        <a href="{{{url}}}" class="btn btn-secondary">{{# str}} review_observation, ojt {{/str}}</a>
                    </td>
                    <td class="c2">
                        <input type="checkbox" class="disabled">
                    </td>
                    <td class="c3">
                        <a href="{{{manage_url}}}&action=users" class="btn btn-secondary">{{# str}} manage_requests, ojt
                        {{/str}}</a>
                    </td>
                    <td class="c4">
                        {{{completion_icon_html}}}
                    </td>
                </tr>
            {{/topics}}
            </tbody>
        </table>
    {{/has_topics}}
</div>
