{{#tasks}}
    {{> mod_observation/comp-task_title}}
{{/tasks}}

{{^tasks}}
{{! apropriate messsage based on role}}
    <p>
        {{#capabilities.can_manage}}
            {{#str}}manage:no_tasks, observation{{/str}}
        {{/capabilities.can_manage}}
        {{^capabilities.can_manage}}
            {{#str}}no_tasks, observation{{/str}}
        {{/capabilities.can_manage}}
    </p>
{{/tasks}}
