{{TODO: observation complete view}}
<h1>Observation complete</h1>
<h4>Thank you for observing <strong>{{learner_name}}'s</strong> submission for task "{{task_name}}".</h4>
<p>Please contact Careerforce support if you have any questions. You can safely close this window now.</p>