<div class="personal-details wrapper">
    <h5>
        Confirm personal details
        <a class="edit-details" href="#">{{#str}}edit_lowercase, observation{{/str}}</a>
    </h5>
    {{> mod_observation/comp-observer_details_table}}
</div>

<div class="observer-requirements wrapper">
    <h5>External observer requirements</h5>
    <div class="requirement-text">
        {{{extra.int_assign_obs_observer}}}
    </div>
</div>
