<h1>Declined observation</h1>
<h4>You have declined observation request from <strong>{{learner_name}}</strong> for task "{{task_name}}"</h4>
<p>If this was done by accident, please contact {{learner_name}} directly and ask for a new observation request.</p>
