<h1>
    {{#str}}observer:declined_page_title, observation{{/str}}
</h1>
<h4>
    {{! todo: build string in renderer (cannot pass multiple values to lang string from template) }}
    You have declined observation request from <strong>{{learner_name}}</strong> for task "{{task_name}}"
</h4>
<p>
    {{#str}}observer:declined_outro, observation{{/str}}
</p>
