<h5>{{#str}}task:learner_attempts_title, observation{{/str}}</h5>
<div class="wrapper-border">
    {{#learner_task_submissions}} {{! should only ever be one as we're filtering by userid in the renderer}}
        {{#learner_attempts}}
            {{> mod_observation/comp-attempt_entry}}
        {{/learner_attempts}}
    {{/learner_task_submissions}}
</div>
<form action="submit.php"
      id="observation-form"
      method="post"
      enctype="multipart/form-data"
      accept-charset="utf-8"
      autocomplete="off">
    <h5>
        {{#str}}task:criteria_container_title, observation{{/str}}
    </h5>
    <div class="wrapper-border criteria-container">
        <ol class="criteria-list">
            {{#criteria}}
                {{> mod_observation/comp-completion_criteria}}
            {{/criteria}}
        </ol>
    </div>
    <div class="wrapper-submit align-center">
        <button type="submit">
            {{#str}}observation:submit, observation{{/str}}
        </button>
        <input type="hidden" name="cmid" value="{{extra.cmid}}">
        <input type="hidden" name="observer_submission_id" value="{{extra.observer_submission_id}}">
    </div>

</form>