<h1>
    {{#str}}observer:complete_page_title, observation{{/str}}
</h1>
<h4>
    {{! todo: build string in renderer (cannot pass multiple values to lang string from template) }}
    Thank you for observing <strong>{{learner_name}}'s</strong> submission for task "{{task_name}}".
</h4>
<p>
    {{#str}}observer:complete_outro, observation{{/str}}
</p>